<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Danny Heroku Homework</title>
	</head>
	<body>
		<h1>Welcome to my website</h1>
		<h2>Charts</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio in
			laboriosam quis accusamus nostrum? Doloribus, fugit? Sapiente
			maiores ullam adipisci. Alias magnam quas blanditiis reiciendis
			labore inventore explicabo tempore et.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio in
			laboriosam quis accusamus nostrum? Doloribus, fugit? Sapiente
			maiores ullam adipisci. Alias magnam quas blanditiis reiciendis
			labore inventore explicabo tempore et.
		</p>
	</body>
</html>
